<clr-modal [clrModalSize]="'xl'" [(clrModalOpen)]="modalOpened" [clrModalClosable]="true" #modal>
    <h3 class="modal-title">{{'SERVERLESS.TITLE' | translate}} [{{deploymentName}}]
      <wayne-modal-operate [modal]="modal" *ngIf="modalOpened"></wayne-modal-operate>
    </h3>
    <div class="modal-body">
      <form clrForm clrLayout="horizontal">
        <section class="form-block">
      
          <clr-input-container>
            <label class="required">{{'SERVERLESS.URL' | translate}}</label>
            <input clrInput type="text" id="function_url" [(ngModel)]="URL" name="function_url" readonly="readonly" size="150" />
          </clr-input-container>

          <clr-input-container>
            <label>path</label>
            <input clrInput  name="request_path" [(ngModel)]="requestPath" size="70" />
          </clr-input-container>

          <clr-select-container>
            <label class="required">类型</label>
            <select clrSelect name="notify_type" [(ngModel)]="method" type="string" required>
              <option [ngValue]="'GET'" selected="selected">GET</option>
              <option [ngValue]="'POST'">POST</option>
              <option [ngValue]="'DELETE'">DELETE</option>
              <option [ngValue]="'PUT'">PUT</option>
              <option [ngValue]="'OPTION'">OPTION</option>
            </select>
          </clr-select-container>
          
          <clr-radio-container clrInline>
            <clr-radio-wrapper>
              <input type="radio" clrRadio name="contentType" required value="text" [(ngModel)]="contentType" />
              <label>{{'SERVERLESS.TEXT' | translate}}</label>
            </clr-radio-wrapper>
            <clr-radio-wrapper>
              <input type="radio" clrRadio name="contentType" value="json" [(ngModel)]="contentType" />
              <label>{{'SERVERLESS.JSON' | translate}}</label>
            </clr-radio-wrapper>
            <clr-radio-wrapper>
              <input type="radio" clrRadio name="contentType" value="download" [(ngModel)]="contentType" />
              <label> {{'SERVERLESS.DOWNLOAD' | translate}}</label>
            </clr-radio-wrapper>
          </clr-radio-container>
          
          <clr-textarea-container>
            <label>{{'SERVERLESS.REUESTBODY' | translate}}</label>
            <textarea clrTextarea id="body" [(ngModel)]="body" name="body" rows="3" cols="330"> </textarea>
          </clr-textarea-container>
        
          <button type="button" class="btn btn-primary" (click)="onSubmit()">{{'SERVERLESS.INVOKE' | translate}}</button>

          <clr-input-container>
            <label >{{'SERVERLESS.RESPONSESTATUS' | translate}}</label>
            <input clrInput type="text" id="function_status" [(ngModel)]="status" name="function_status" readonly="readonly" size="150" />
          </clr-input-container>
          
          <clr-textarea-container>
            <label>{{'SERVERLESS.RESPONSEBODY' | translate}}</label>
            <textarea clrTextarea id="invokestr" [(ngModel)]="invokestr" name="invokestr" readonly="readonly" rows="8" cols="330"></textarea>
          </clr-textarea-container>  
        </section>
    </form>
  </div>

  <div [hidden]="hiddenFooter" class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="onCancel()">{{'BUTTON.CANCEL' | translate}}</button>
  </div>
</clr-modal>